/*
    this is probably the ugliest part of this project, very much needs
    some serious refactoring
*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

hr {
    border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    overflow-y: hidden;
    color: #222;
    margin: 0;
    height: 100%;
    min-width: 640px;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #222;
}

#map {
    min-height: 500px;
    height: 100%;
}

#top-bar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    list-style-type: none;
}

#top-bar li {
    margin-left: 2px;
    float: right;
}

#title {
    z-index: 10;
    display: none;
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: white;
    font-weight: bold;
    font-size: 26px;
    padding: 7px 10px !important;
}

#top-bar li, #bottom-right li {
    text-align: center;
    margin-bottom: 2px;
    background-color: white;
    padding: 7px 10px;
    cursor: pointer;
}

#bottom-right {
    display: none;
    list-style-type: none;
    position: absolute;
    bottom: 25px;
    right: 10px;
    z-index: 10;
    overflow: visible;
}

#user, #changeset {
    display: none;
}

#changeset-modal {
    padding: 10px 15px;
}

#changeset-form {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px 6px;
    height: 50px;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

#update-change {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 2px 6px;
    float: right;
    cursor: pointer;
}

#changeset-link a {
    border: 0 !important;
    font-size: 14px;
}

#action-block {
    display: none;
    list-style-type: none;
    color: white;
    z-index: 10;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#action-block li {
    float: left;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

#submit, #skip, #problem {
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

#submit, #skip {
    border: 1px solid rgba(255,255,255,0.25);
    color: rgba(255,255,255,1);
    padding: 8px 15px;
}

#problem {
    font-weight: bold;
    background-color: black;
    color: rgba(255,255,255,1);
    font-size: 14px;
    height: 36px;
    border: 1px solid rgba(255,255,255,0.25);
    padding: 8px 15px;
    cursor: pointer;
}

#submit {background-color: rgba(0, 144, 0, 1);}
#submit:hover {background-color: rgba(0, 179, 0, 1);}
#submit:active {background-color: rgba(0, 109, 0, 1);}
#skip {background-color: rgba(0, 69, 144, 1);}
#skip:hover {background-color: rgba(0, 78, 179, 1);}
#skip:active {background-color: rgba(0, 49, 109, 1);}
#problem:hover {background-color: #333;}

#tags {
    display: none;
    color: black;
    background-color: white;
    z-index: 10;
    position: absolute;
    width: auto;
    left: 10px;
    bottom: 65px;
    font-size: 16px;
    padding: 7px;
}

#add-new-tag {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    padding: 5px 25px;
    left: 0px;
    top: -25px;
    position: absolute;
    float: left;
    text-align: center;
    border-right: none !important;
    font-family: Arial;
}

#tags table {
    border-collapse: collapse;
}

#tags td {
    border: 1px solid #ccc;
    padding: 5px 7px;
    min-width: 50px;
}

.k {
    font-weight: bold;
}

.minus {
    padding: 0 10px !important;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    min-width: 0 !important;
}

.display {
    color: white;
    display: none;
    pointer-events: none;
    font-size: 640px;
    position: absolute;
    overflow: visible;
    z-index: 10;
    width: 640px;
    height: 640px;
    left: 50%;
    top: 50%; 
    margin-left: -320px;
    margin-top: -420px;
    text-shadow: 0px 0px 10px black;
}

#login {
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    position: absolute;
    display: block;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 15px 20px;
    z-index: 900;
    display: none;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

#notify {
    display: none;
    z-index: 10;
    background-color: white;
    bottom: 25px;
    right: 10px;
    padding: 3px;
    position: absolute;
    height: 40px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

#notify span {
    font-size: 14px;
    position: relative;
    top: -15px;
    padding: 0 10px;
}

.b {
    font-weight: bold;
}

#reusable-modal {
    text-align: center;
}

.reveal-modal a {
    cursor: pointer;
    border-bottom: 1px solid #666;
}

.close-reveal-modal {
    border-bottom: none !important;
}

#overview_bg {
    cursor: pointer;
    z-index: 8000;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#overview_block {
    z-index: 8001;
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 100%;
    max-width: 900px;
    overflow-y: scroll;
    font-size: 14px;
    line-height: 1.5em;
    display: none;
}

#overview-controls {
    display: none;
    bottom: 0;
    right: 0;
    background-color: white;
    position: fixed;
    padding: 10px 15px;
    line-height: 1.5em;
    z-index: 8002;
}
input[type='radio'] {
    margin-right: 5px;
}

#count {
    right: 20px;
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 48px;
    top: -28px;
}
#count span {
    font-size: 24px;
}


#main_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
#main_table tr {
    border-top: 1px solid #eee;
}
#main_table td a {
    text-decoration: none;
    color: black;
}
#main_table thead {
    color: white;
    background-color: black;
}
#main_table thead tr {
    border: none;
    line-height: 36px;
}
#main_table table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
#main_table .table {
  width: 100%;
  margin-bottom: 20px;
}
#main_table .table th,
#main_table .table td {
  padding: 5px;
  line-height: 15px;
  text-align: left;
  vertical-align: top;
}
#main_table .table th {
  font-weight: bold;
  line-height: 30px;
}
#main_table .table thead th {
  vertical-align: bottom;
}
.table tbody tr.success {
  background-color: #ceffce;
  border-top: 1px solid #b4e2b4 !important;
  border-bottom: 1px solid #b4e2b4;
}
.table tbody tr.error {
  background-color: #f7c8c8;
  border-top: 1px solid #e9aeae !important;
  border-bottom: 1px solid #e9aeae;
}

button {
    color: white;
    border: none;
    background-color: black;
    font-size: 14px;
    padding: 7px 10px;
    margin-left: 20px;
}

button:hover {
    transition: all 200ms ease;
    background-color: #333;
}


/* just spammed !important, which isn't nice */
.leaflet-control-attribution {
    font-size: 12px !important;
    background: none !important;
    color: white !important;
    text-shadow: 0px 0px 3px black, 1px 1px 10px black !important;
    font-weight: bold !important;
    box-shadow: none !important;
    -webkit-font-smoothing: antialiased;
}
.leaflet-control-attribution a {
    color: white !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    -moz-box-shadow: 0 2px 10px #333 !important;
    -webkit-box-shadow: 0 2px 10px #333 !important;
    box-shadow: 0 2px 10px #333 !important;
}

.leaflet-popup-content {
    overflow: auto;
    margin: 12px !important;
    list-style-type: none;
}

.leaflet-editing-icon {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 10px !important;
    height: 10px !important;
    margin-left: -7px !important;
    margin-top: -7px !important;
}

.leaflet-div-icon {
    border: 2px solid black;
}

.leaflet-bar-part {
    background-color: white !important;
}

.leaflet-bar-part-top, .leaflet-bar-part-bottom {
    border-radius: 0 !important;
}

.leaflet-control-zoom a {
    height: 30px !important;
    width: 30px !important;
}

.leaflet-control-zoom-out {
    font: bold 30px/27px Tahoma, Verdana, sans-serif !important;
}

.leaflet-control-zoom-in {
    font: bold 21px/30px Arial, Helvetica, sans-serif !important;
}

.leaflet-bar a:last-child {
    border-radius: 0 !important;
}

.leaflet-bar a:first-child {
    border-radius: 0 !important;
}
