.leaflet-label {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 1);
	background-clip: padding-box;
	border-color: black;
	border-color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	border-style: solid;
	border-width: 4px;
	box-shadow: 0 2px 10px #333 !important;
	-moz-box-shadow: 0 2px 10px #333 !important;
	-webkit-box-shadow: 0 2px 10px #333 !important;
	color: #111;
	display: block;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 1px 6px;
	position: absolute;
	left: 5px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	white-space: nowrap;
	z-index: 6;
}

.leaflet-label:before {
	border-right: 6px solid black;
	border-right-color: inherit;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	position: absolute;
	top: 5px;
	left: -10px;
}