* {margin: 0; padding: 0;}

body, html {
	color: #222;
	margin: 0;
	height: 100%;
	min-width: 640px;
	font-family: Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none;
	color: #222;
}
#main {height: 100%;}
#map {min-height: 500px; height: 100%;}

#top_right {
	list-style-type: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 300px;
}

#top_right li {
	float: right;
	margin-bottom: 1px;
	background-color: white;
	padding: 10px 15px;
}

#title {
	font-weight: bold;
	font-size: 24px;
}

#instruct {
	cursor: pointer;
}

#zwrap {
	position: absolute;
	bottom: 35px;
	width: 100%;
}

#action-block {
	display: none;
	list-style-type: none;
	color: white;
	z-index: 10;
	margin-left: -10px;
	position: relative;
	width: 400px;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;	
}

#action-block li {
	float: left;
	margin-left: 20px;
	font-weight: bold;
	cursor: pointer;
}

#done, #skip {
	border: 1px solid rgba(255,255,255,0.25);
	color: rgba(255,255,255,1);
	padding: 8px 15px;
	/*margin: 15px;*/
}

#problem select {
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(255,255,255,1);
	padding: 5px;
	font-size: 14px;
	height: 36px;
	border: 1px solid rgba(255,255,255,0.25);
	padding: 8px 15px;
	cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

#done {background-color: rgba(0, 179, 0, 0.7);}
#done:hover {background-color: rgba(0, 179, 0, 1);}
#done:active {background-color: rgba(0, 109, 0, 1);}
#skip {background-color: rgba(0, 78, 179, 0.7);}
#skip:hover {background-color: rgba(0, 78, 179, 1);}
#skip:active {background-color: rgba(0, 49, 109, 1);}

#modal {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	z-index: 9000;
	display: none;
}

#instruction {
	cursor: pointer;
	background-color: white;
	line-height: 1.4em;
	margin: -290px -340px 0 0;			
	right: 50%;
	top: 50%;
	padding: 20px;
	position: absolute;
	overflow: hidden;
	height: 510px;
	width: 640px;
	display: none;
}
	#instruction a {
		border-bottom: 1px solid #999;
	}

#display {
	display: none;
	width: 640px;
	height: 640px;
	margin: -320px -320px 0 0;
	right: 50%;
	top: 50%;
	position: absolute;
	overflow: visible;
	z-index: 10;
}
	#display img {
		display: none;
		width: 640px;
	}

	#display canvas {
		position: relative;
		top: 20%;
		display: none;
		width: 640px;
	}

#instruction h3 {margin-bottom: 5px;}
#instruction li {margin-left: 20px;}

.close {
	color: #666;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background-color: #eee;
}
.close:hover {
	color: black;
}

#details {
	display: none;
	position: absolute;
	bottom: 90px;
	left: 10px;
	padding: 10px 15px;
	background-color: white;
	z-index: 10;
}

#login {
	cursor: pointer;
	position: absolute;
	display: block;
	background-color: white;
	font-size: 20px;
	font-weight: bold;
	color: black;
	padding: 15px 20px;
	z-index: 900;
	left: 10px;
	display: none;
}

/* I stupidly editted the leaflet source css previously, need to diff and move it all here instead */
.leaflet-control-attribution {
	background: none !important;
	color: white !important;
	text-shadow: 1px 1px black !important;
	font-weight: bold !important;
}
.leaflet-control-attribution a {
	color: white !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	box-shadow: 0 2px 10px #333 !important;
	-moz-box-shadow: 0 2px 10px #333 !important;
	-webkit-box-shadow: 0 2px 10px #333 !important;
}

.leaflet-popup-content {
	/*margin: ;*/
}