{% extends "layout.html" %}

{% block head %}
	<link rel="stylesheet" href="http://127.0.0.1:5000/static/leaflet0.4.css" />
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
	<![endif]-->
	<script src="http://127.0.0.1:5000/static/leaflet0.4.js"></script>
	<script src="http://127.0.0.1:5000/static/Bing.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$(document).ready(function(){

				$("#instruct").click(function(){
					$("#modal").show();
					$("#instruction").show();
				});

				$("#modal").click(function(){
					$("#instruction").hide();
					$("#problem-mode").hide();
					$("#modal").hide();
					// just a little sloppy
				});

				$("#problem").click(function(){
					$("#modal").show();	
					$("#problem-mode").show();
				});

				$("#done").click(function(){
					console.log('done clicked');
				});

			});
		});
	</script>
	<style type="text/css">
		* {margin: 0; padding: 0;}

		body, html {
			color: #222;
			margin: 0;
			height: 100%;
			min-width: 640px;
			font-family: Helvetica, Arial, sans-serif;
		}
		a {text-decoration: none;}
		#main {height: 100%;}
		#map {min-height: 500px; height: 100%;}

		#title {
			position: absolute;
			top: 0;
			right: 0;
			font-weight: bold;
			padding: 10px 15px;
			background-color: white;
			margin-bottom: 5px;
			font-size: 24px;
			z-index: 10;
		}

		#instruct {
			position: absolute;
			top: 50px;
			right: 0;
			cursor: pointer;
			z-index: 10;
			padding: 10px 15px;
			background-color: white;
			float: right;
		}		

		#action-block {
			color: white;
			z-index: 10;
			width: 100%;
			margin: 0 auto;
			position: absolute;
			bottom: 0;
			margin-bottom: 35px;
		}

		#done, #problem {
			border: 1px solid rgba(255,255,255,0.25);
			color: rgba(255,255,255,1);
			padding: 8px 15px;
			margin: 15px;
			cursor: pointer;
		}

		#done {background-color: rgba(0, 179, 0, 0.6);}
		#done:hover {background-color: rgba(0, 179, 0, 1);}
		#done:active {background-color: rgba(0, 109, 0, 1);}		
		#problem {background-color: rgba(188, 0, 0, 0.6);}
		#problem:hover {background-color: rgba(188, 0, 0, 1);}
		#problem:active {background-color: rgba(115, 0, 0, 1);}

		#modal {
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			position: absolute;
			background: rgba(0,0,0,0.5);
			display: none;
			width: 100%;
			height: 100%;
			z-index: 9999;
			cursor: pointer;
		}
		#instruction {
			display: none;
			background-color: white;
			line-height: 1.4em;
			margin: -250px -320px 0 0;			
			right: 50%;
			top: 50%;
			padding: 15px 20px;
			position: absolute;
			overflow: hidden;
			height: 250px;
			width: 640px;
		}
		#instruction h3 {
			margin-bottom: 5px;
		}
		#problem-mode {
			display: none;
			background-color: white;
			line-height: 1.4em;
			margin: -250px -160px 0 0;			
			right: 50%;
			top: 50%;
			padding: 15px 20px;
			position: absolute;
			overflow: hidden;
			height: 250px;
			width: 320px;
		}		
	</style>
{% endblock %}

{% block main %}
	<span id="title">Outline the nearby park</span>
	<span id="instruct">Instructions</span>

	<div id="modal">
		<div id="instruction">
			<h3>Objective</h3>
			<p style="margin-bottom: 20px;">The polygon is placed in a known area near a park, your job is to find the park and make an accurate outline of it. It's possible the data is out of date or just wrong, report problems accordingly. Be careful to not include nearby schools, golf courses, or residential yards; just the park. Do include small bodies of water, parking lots, and sidewalks that are obviously part of the park. The park should be fairly obvious, if you're struggling to find anything nearby that looks like a public park it probably isn't right.</p>

			<h3>Tips</h3>
			<li>Click the nodes (white dots) to delete them</li>
			<li>Drag a transparent middle node to add a new node</li>
		</div>
		<div id="problem-mode">
			<h3>Problem?</h3>
			<form name="report_problem" action='/problem' method="POST">
				<input type="radio" name="problem" value="no_park">No park here<br>
				<input type="radio" name="problem" value="bad_imagery">Imagery is too poor<br>
				<input type="radio" name="problem" value="whiny">Too difficult<br>
				<!-- make them into big buttons that don't actually look like radio buttons -->
				<!-- include "other" w/ a text field for input, make them all text? -->
				<!-- when a button is clicked, bring up a submit button to confirm everything -->
			</form>
		</div>
	</div>

	<div id="action-block">
		<span id="done">Done</span>
		<span style=""> or </span>
		<span id="problem">Problem</span>
	</div>	
	<div id="map"></div>
	<script type="text/javascript">
		var map = L.map('map', {maxZoom: 18}).fitBounds({% autoescape false %}{{ bounds }}{% endautoescape %});

		// L.tileLayer('http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png', {
		// 	attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2012 CloudMade',
		// 	key: 'BC9A493B41014CAABB98F0471D759707'
		// }).addTo(map);

		map.attributionControl.setPrefix(false);

		var bing = new L.BingLayer("Anqm0F_JjIZvT0P3abS6KONpaBaKuTnITRrnYuiJCE0WOhH6ZbE4DzeT6brvKVR5").addTo(map);

		function onEachFeature(feature, layer) {
			layer.editing.enable();
		}

		var myStyle = {
			"color": "#00FF00",
		    "weight": 3,
		    "opacity": 1,
		};

		mypoly = {% autoescape false %}{{ polygon }}{% endautoescape %}
		polygon = L.geoJson(mypoly, {
			style: myStyle, onEachFeature: onEachFeature
		});
		polygon.addTo(map);

	</script>
{% endblock %}