<!doctype html>
<html>
    <head>
        <title>rawr</title>
        <script type="text/javascript" src="static/ohauth/sha.js"></script>
        <script type="text/javascript" src="static/ohauth/ohauth.js"></script>
        <!-- still need to css reset -->
        <link rel="stylesheet" type="text/css" href="static/css.css" />
        <link rel="stylesheet" type="text/css" href="static/leaflet0.4.css" />
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
        <![endif]-->
        <script src="static/leaflet0.4.js"></script>
        <script src="static/Bing.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    </head>
    <body>
        <ul id="top_right">
            <li id="title">Outline the nearby park</li>
            <li id="instruct">Instructions</li>
        </ul>
        <!-- <span id="title">Outline the nearby park</span> -->
        <!-- <span id="instruct">Instructions</span> -->

        <div id="modal">
            <div id="instruction">
                <h3>Instructions</h3>
                <li>Make a more accurate outline of the nearby park.</li>
                <li>It's possible the data is out of date or just wrong; report problems accordingly.</li>
                <li>Be careful to not include nearby schools, golf courses, or residential yards; just the park.</li>
                <li>Do include small bodies of water, parking lots, and sidewalks that are obviously part of the park.</li>
                <li>The park should be fairly obvious, if you're struggling to find anything nearby that looks like a public park it probably isn't right.</li>

                <h3 style="margin-top: 15px;">Tips</h3>
                <li>Click on the nodes (white dots) to delete them</li>
                <li>Drag a transparent middle node to add a new node</li>
                <li>Yellow features are other OSM references there to help you. You can't edit them here but clicking them provides more information. Use this info to help make your features more accurate</li>
                <li>If you want to edit from another editor, click the coordinates in the bottom right corner which will take you to osm.org</li>

                <h3 style="margin-top: 15px;">About</h3>
                <li>Data from TIGER 2011 area landmarks.</li>
                <li>xx original parks, xx processed, xx new to OSM</li>
                <li><a href="http://thenounproject.com/noun/arrow/#icon-No8828" target="_blank">Skip arrow</a> and <a href="http://thenounproject.com/noun/delete/#icon-No8843" target="_blank">problem X</a> designed by <a href="http://thenounproject.com/cr" target="_blank">Chris Robinson</a> from The Noun Project</li>
                <a href="#" class="close">X</a> 
            </div>
        </div>

        <div id="display">
            <canvas id="d-spinner"></canvas>
            <img id="d-problem" src="/static/images/problem_white.svg" />
            <img id="d-skip" src="/static/images/skip_white.svg" />
            <img id="d-upload" src="/static/images/upload_white.svg" />
        </div>

        <div id="zwrap">
            <div id="login">Login with your OSM account »</div>
            <div id="action-block">
                <li id="problem">
                    <select name="problem" id="problem_selection">
                        <option value="problem" disabled selected>Problem</option>
                        <option value="no_park">No Park Here</option>
                        <option value="poor_imagery">Poor Imagery</option>
                        <option value="too_diff">Too Difficult</option>
                    </select>
                </li>
                <li id="skip">Skip</li>
                <li id="done">Submit</li>
            </div>
        </div>

        <div id="details"></div>

        <div id="map"></div>
        <script type="text/javascript">

/* 
    This is shit. I know it. I'll get to it.
    Any good code you find isn't mine.
*/

        // map setup
            var map = L.map('map', {
                center: [34.057700,-118.24094],
                zoom: 10,
                maxZoom: 18
            });

            var polygon = new L.GeoJSON();

            var bing = new L.BingLayer("Anqm0F_JjIZvT0P3abS6KONpaBaKuTnITRrnYuiJCE0WOhH6ZbE4DzeT6brvKVR5").addTo(map);
            polygon.addTo(map);

            map.on('move', function() {
                var lat = map.getCenter().lat.toFixed(4).toString();
                var lng = map.getCenter().lng.toFixed(4).toString();
                var zoom = map.getZoom().toString();
                var string = '<span id="prefix_text"><a href="http://www.openstreetmap.org/?lat=' + lat + '&lon=' + lng + '&zoom=' + zoom + '" target="_blank">' + lat + ',' + lng + '</a></span>';
                map.attributionControl.setPrefix(string);
            });

            // all oauth stuff copied directly from ohauth example:
            // https://github.com/tmcw/ohauth/blob/gh-pages/index.html
            var host = 'http://api06.dev.openstreetmap.org',
                oauth_secret = 'Mon0UoBHaO3qvfgwWrMkf4QAPM0O4lITd3JRK4ff';

            var o = {
                oauth_consumer_key: 'yx996mtweTxLsaxWNc96R7vpfZHKQdoI9hzJRFwg',
                oauth_signature_method: 'HMAC-SHA1'
            };            

            $("#login").fadeIn();

            $("#login").click(function() {
                o.oauth_timestamp = ohauth.timestamp();
                o.oauth_nonce = ohauth.nonce();
                var url = host + '/oauth/request_token';
                o.oauth_signature = ohauth.signature(oauth_secret, '',
                    ohauth.baseString('POST', url, o));
                ohauth.xhr('POST', url, o, null, {}, function(xhr) {
                    var token = ohauth.stringQs(xhr.response);
                    document.cookie = 'ohauth_token_secret=' + token.oauth_token_secret;
                    var at = host + '/oauth/authorize?';
                    window.location = at + ohauth.qsString({
                        oauth_token: token.oauth_token,
                        oauth_callback: location.href
                    });
                });
            });

            var getVar = ohauth.stringQs(location.search.slice(1));
            if (document.cookie.match(/access_token=([^;]+)/) &&
                document.cookie.match(/access_token_secret=([^;]+)/)) {
                // already logged in
                $("#login").fadeOut(200);
                getNext();
            } else if (getVar.oauth_token) {
                console.log('back from login');
                // getGo();
            }

            $("#instruct").click(function() {
                $("#modal").fadeIn(200);
                $("#instruction").fadeIn(200);
            });

            $("#instruction").click(function() {
                $("#instruction").fadeOut(200);
                $("#modal").fadeOut(200);
            });

            function getNext() {
                setTimeout(function(){
                    // delay a bit, it was annoying
                    $('#display').show();
                    $('#d-spinner').fadeIn(500);
                }, 750);
                $.get("/?next", function(data) {
                    $('#d-spinner').fadeOut(200, function(){
                        $('#display').hide();
                    });
                    window.data = jQuery.parseJSON(data);
                    console.log(window.data);
                    polygon = L.geoJson(window.data['edit']['geo'], {
                        style: {
                            "color": "#00FF00",
                            "weight": 3,
                            "opacity": 1,
                        },
                        onEachFeature: function (feature, layer){
                            layer.editing.enable();
                        }
                    });
                    display_polys = L.geoJson([window.data['display_polys']['features'], window.data['display_nodes']['features']], {
                        style: {
                            "color": "#FFFF00",
                            "weight": 2,
                            "opacity": 1
                        },
                        onEachFeature: function(feature, layer) {
                            if (feature.properties && feature.properties.popupContent) {
                                popupContent = feature.properties.popupContent;
                                layer.bindPopup(popupContent);
                            }
                        },
                        pointToLayer: function (feature, latlng) {
                            return L.circleMarker(latlng, {
                                radius: 5,
                                opacity: 1,
                                fillOpacity: 0.5
                            })
                        }
                    });
                    map.fitBounds(polygon.getBounds());
                    setTimeout(function(){
                        polygon.addTo(map)
                        display_polys.addTo(map)
                        // display_nodes.addTo(map)
                    }, 600);
                    // fitBounds zooms and centers the map to the extent of the polygon. In the process here the polygon nodes become all screwed up. Actually only the middle nodes become screwed up landing seperate from the polygon miles away, usually to the northeast. If it's left as is, when the real nodes are touched the middle nodes are recalculated and move into their correct place, but it's still annoying. I think it has to do with those mid points being placed while the map is zooming. I tried using the 'zoomend' event but that was actually worse, screwing up all the nodes, I think it fires too soon. This also seems to be bigger problem the more nodes there are. Up to about 7 or 8 node polygons are mostly fine, anything more is always screwed.
                    // So I set a timeout to wait till everything blows over. It's not too big of a deal because tiles are still loading anyway. 500ms is too low. 600 is about right from everything I've seen, at least on Chrome. I bet slower javascript browsers are a problem.
                    // I've tried fixing this many times, the function isn't documented for good reason. Seems like it's going to be split into a plugin, soo...

                    if (window.data['edit'].name != null && window.data['edit'].name != 'Park') {
                        $("#details").text(window.data['edit'].name);
                        $("#details").fadeIn(200);
                    } else {
                        $("#details").text('');
                    }
                    setup(window.data['edit']['id'], window.data['edit']['name']);
                });
            }

            // remove the necessity for name
            // rely on global window.data instead
                // make it so that all rows of data are fluidly going back and forth
            function setup(id, name) {
                $("#login").fadeOut(200);
                $("#action-block").fadeIn(200);
                console.log(name);
                console.log(id);
                $("#problem_selection").change(function() {
                    $('#display').show();
                    $('#d-problem').show();
                    teardown();
                    map.setView([39.828175, -98.5795], 4);
                    $("#problem_selection").val('problem');
                    $.ajax({
                        type: "POST",
                        url: "/",
                        data: {id: id, action: $('#problem_selection').val()}
                    }).done(function(msg) {
                        $('#d-problem').fadeOut(500);
                        getNext();
                    });
                });

                $("#skip").click(function() {
                    $('#display').show();
                    $('#d-skip').show();
                    teardown();
                    map.setView([39.828175, -98.5795], 4);
                    $.ajax({
                        type: "POST",
                        url: "/",
                        data: {id: id, action: "skip"}
                    }).done(function(msg) {
                        $('#d-skip').fadeOut(500);
                        getNext();
                    });
                });

                $("#done").click(function() {
                    $('#display').show();
                    $('#d-upload').show();
                    teardown();
                    map.setView([39.828175, -98.5795], 4);
                    data['edit']['geo']['coordinates'] = littleboots.toGeoJSON(polygon)['geometries'][0]['coordinates'];
                    // console.log(omg);
                    $.ajax({
                        type: "POST",
                        url: "/",
                        data: {id: id, action: 'new', data: JSON.stringify(data['edit'])}
                            // need to have a global var and just take shit from there
                    }).done(function(msg) {
                        // this is just for intersect results, not osm uploading yet
                        $('#d-upload').fadeOut(500);
                        console.log(msg);
                        // check for intersection
                            // depending on the response, we start a changeset, build the osmchange and upload it
                            // or throw it away because of dupe
                        getNext();
                    });
                });
            }

            function teardown() {
                // right now this is called as soon as a problem/skip/submit is clicked
                // should be called after the success callback
                // todo: decouple (hiding the interface) and (actually removing stuff)
                map.closePopup();
                map.removeLayer(polygon);
                map.removeLayer(display_polys);
                // map.removeLayer(display_nodes);
                $("#action-block").fadeOut(200);
                $("#details").fadeOut(200);
                $("#problem_selection").unbind();
                $("#done").unbind();
                $("#skip").unbind();
            }

            function getGoz() {
                var oauth_token = ohauth.stringQs(location.search.slice(1));
                o.oauth_timestamp = ohauth.timestamp();
                o.oauth_nonce = ohauth.nonce();
                o.oauth_token = oauth_token.oauth_token;
                var url = host + '/oauth/access_token';
                var token_secret = document.cookie.match(/ohauth_token_secret=([^;]+)/);
                if (!token_secret) return console.error('Required token not found');
                o.oauth_signature = ohauth.signature(oauth_secret, token_secret[1],
                    ohauth.baseString('POST', url, o));
                ohauth.xhr('POST', url, o, null, {}, function(xhr) {
                    var access_token = ohauth.stringQs(xhr.response);
                    // o.oauth_token = access_token.oauth_token;
                    document.cookie = 'access_token=' + access_token.oauth_token;
                    // token_secret = access_token.oauth_token_secret;
                    document.cookie = 'access_token_secret=' + access_token.oauth_token_secret;
                    console.log(String.fromCharCode(0x2713) + ' login');
                    history.pushState(null, null, '/');
                });
                getNext();
            }


            function getGo() {
                var change = '<osm>' +
                    '<changeset>' +
                    '<tag k="created_by" v="blah"/>' +
                    '<tag k="comment" v="blah blah blah"/>' +
                    '<\/changeset>' +
                '<\/osm>';
                var oauth_token = ohauth.stringQs(location.search.slice(1));
                o.oauth_timestamp = ohauth.timestamp();
                o.oauth_nonce = ohauth.nonce();
                o.oauth_token = oauth_token.oauth_token;
                var url = host + '/oauth/access_token';
                var token_secret = document.cookie.match(/ohauth_token_secret=([^;]+)/);
                if (!token_secret) return console.error('Required token not found');
                o.oauth_signature = ohauth.signature(oauth_secret, token_secret[1],
                    ohauth.baseString('POST', url, o));
                console.log(o);
                ohauth.xhr('POST', url, o, null, {}, function(xhr) {
                    // just put this into cookies, then use it from there
                    var access_token = ohauth.stringQs(xhr.response);
                    document.cookie = 'random_token=' + access_token.oauth_token;
                    document.cookie = 'random_secret=' + access_token.oauth_token_secret;
                    // o.oauth_token = access_token.oauth_token;
                    o.oauth_timestamp = ohauth.timestamp();
                    o.oauth_nonce = ohauth.nonce();
                    // token_secret = access_token.oauth_token_secret;
                    o.oauth_token = document.cookie.match(/random_token=([^;]+)/)[1];
                    token_secret = document.cookie.match(/random_secret=([^;]+)/)[1];
                    var url = host + '/api/0.6/changeset/create';
                    o.oauth_signature = ohauth.signature(oauth_secret, token_secret,
                        ohauth.baseString('PUT', url, o));
                    console.log(o);
                    // ohauth.xhr('PUT', url, o, change, { header: { 'Content-Type': 'text/xml' } },
                    //     function(xhr) {
                    //         console.log('Changeset: ' + xhr.response);
                    //     });
                });
            }

            function userDetails() {
                o.oauth_token = document.cookie.match(/random_token=([^;]+)/)[1];
                var token_secret = document.cookie.match(/random_secret=([^;]+)/)[1];
                o.oauth_timestamp = ohauth.timestamp();
                o.oauth_nonce = ohauth.nonce();
                var url = host + '/api/0.6/user/details';
                o.oauth_signature = ohauth.signature(oauth_secret, token_secret,
                    ohauth.baseString('GET', url, o));
                console.log(o)
                // custom header to force preflight
                ohauth.xhr('GET', url, o, '', {header:{'Content-Type': 'text/xml'}},
                    function(xhr) {
                        console.log(xhr);
                });
            }

            // https://github.com/tmcw/ohauth/blob/gh-pages/index.html#L74
            function newChangeset(comment) {
                var change = '<osm>' +
                    '<changeset>' +
                    '<tag k="created_by" v="blah"/>' +
                    '<tag k="comment" v="blah blah blah"/>' +
                    '<\/changeset>' +
                '<\/osm>';
                o.oauth_token = document.cookie.match(/random_token=([^;]+)/)[1];
                var token_secret = document.cookie.match(/random_secret=([^;]+)/)[1];
                o.oauth_timestamp = ohauth.timestamp();
                o.oauth_nonce = ohauth.nonce();
                var url = host + '/api/0.6/changeset/create';
                o.oauth_signature = ohauth.signature(oauth_secret, token_secret,
                    ohauth.baseString('PUT', url, o));
                console.log(o);
                ohauth.xhr('PUT', url, o, change, {header:{'Content-Type': 'text/xml'}},
                    function(xhr) {
                        console.log(xhr);
                });
            }
            //     var url = host + '/api/0.6/changeset/create';
            //     o.oauth_signature = ohauth.signature(oauth_secret, token_secret,
            //         ohauth.baseString('PUT', url, o));
            //     ohauth.xhr('PUT', url, o, change, { header: { 'Content-Type': 'text/xml' } },
            //         function(xhr) {
            //             var changeset_id = xhr.response;
            //             var url = host + '/api/0.6/changeset/' + changeset_id + '/upload'
            //             o.oauth_timestamp = ohauth.timestamp();
            //             o.oauth_nonce = ohauth.nonce();
            //             o.oauth_signature = ohauth.signature(oauth_secret, token_secret,
            //                 ohauth.baseString('POST', url, o));
            //             node = node.replace('{changeset}', changeset_id);
            //             ohauth.xhr('POST', url, o, node, { header: { 'Content-Type': 'text/xml' } },
            //             function(xhr) {
            //                 var url = host + '/api/0.6/changeset/' + changeset_id + '/close';
            //                 o.oauth_timestamp = ohauth.timestamp();
            //                 o.oauth_nonce = ohauth.nonce();
            //                 o.oauth_signature = ohauth.signature(oauth_secret, token_secret,
            //                     ohauth.baseString('PUT', url, o));
            //                 ohauth.xhr('PUT', url, o, '', { header: { 'Content-Type': 'text/xml' } },
            //                 function(xhr) {
            //                     console.log(arguments);
            //                 });
            //             });
            //     });
            
            // https://gist.github.com/3104283
            // I need to learn a bit of canvas because I have no clue what's happening here
            // need to upscale it because it's pixelated right now
            var canvas = document.getElementById('d-spinner');
            var context = canvas.getContext('2d');
            var start = new Date();
            var lines = 12,
                cW = context.canvas.width,
                cH = context.canvas.height;
            var draw = function() {
                var rotation = parseInt(((new Date() - start) / 1000) * lines) / lines;
                context.save();
                context.clearRect(0, 0, cW, cH);
                context.translate(cW / 2, cH / 2);
                context.rotate(Math.PI * 2 * rotation);
                for (var i = 0; i < lines; i++) {
                    context.beginPath();
                    context.rotate(Math.PI * 2 / lines);
                    context.moveTo(cW / 10, 0);
                    context.lineTo(cW / 4.5, 0);
                    context.lineWidth = cW / 30;
                    context.strokeStyle = "rgba(255,255,255," + i / lines + ")";
                    context.stroke();
                }
                context.restore();
            };
            setInterval(draw, 30);


    // https://github.com/CloudMade/Leaflet/issues/712
    var littleboots = {
        toGeoJSON: function(target) {
            if (target instanceof L.Polygon) {
                //Polygon
                var coords = this.latLngsToCoords(target.getLatLngs());
                return {
                    coordinates: [coords],
                    type: 'Polygon'
                };
            } else if (target instanceof L.FeatureGroup) {
                //Multi point and GeometryCollection
                var multi = [];
                var layers = target._layers;
                var points = true;
                for (var stamp in layers) {
                    var json = this.toGeoJSON(layers[stamp]);
                    multi.push(json);
                    if (json.type !== 'Point') {
                        points = false;
                    }
                }
                if (points) {
                    var coords = multi.map(function(geo){
                        return geo.coordinates;
                    });
                    return {
                        coordinates: coords,
                        type: 'MultiPoint'
                    };
                } else {
                    return {
                        geometries: multi,
                        type: 'GeometryCollection'
                    };
                }
            }
        },

        latLngToCoords: function(latlng) {
            var lng = Math.round(latlng.lng*1000000)/1000000
            var lat = Math.round(latlng.lat*1000000)/1000000
            return [lng, lat];
        },

        latLngsToCoords: function(arrLatlng) {
            var coords = [];
            arrLatlng.forEach(function(latlng) {
                coords.push(this.latLngToCoords(latlng));
            },
            this);
            return coords;
        }
    }
        </script>
    </body>
</html>